h1{
font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;

  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;

  margin-bottom: 50px;
}

body{
    margin: 40px;
}

body {
  background-color: #ece5da;
  text-align: center;
}

.projects a{
    text-decoration: none;
    font-size: 30px;
}

.projects li{
    margin-bottom: 20px;
}

.projects{
    list-style-type: none;
}

.projects a:hover{
    color: orange;
}
/* 
.projects a:visited{
    color: blue;
} */